@font-face {
    font-family: pirate;
    src: url('/TreasureMapDeadhand-yLA3.ttf');
}

@import '../imports/styles/utils.scss';
@import '../imports/ui/Dice/Dice.scss';
@import '../imports/ui/Game/Game.scss';
@import '../imports/ui/Header/Header.scss';
@import '../imports/ui/Settings/Settings.scss';

body {
    background-color: $blueSky;
    background-image: url('/DC_TreasureMapPT_Final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

* {
    font-family: pirate;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

#react-target {
    margin: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.splash {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75vw;
    margin-top: 5vh;
}

@media only screen and (max-width: 650px){
    body {
        background-image: url('/map-small.png');
        background-size: auto;
        background-position: top;
    }
}