@font-face {
    font-family: pirate;
    src: url('/TreasureMapDeadhand-yLA3.ttf');
}

@import '../imports/styles/utils.scss';
@import '../imports/ui/Dice/Dice.scss';
@import '../imports/ui/Header/Header.scss';

body {
    background-color: $blueSky;
    width: 100vw;
}

* {
    font-family: pirate;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

#react-target {
    margin: 70px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}