.parameters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        label {
            font-size: 40px;
            text-shadow: #222 -2px 3px;
            color: #eee;    
        }
    }
}

.roll-dice {
    position: absolute;
    bottom: 4vh;
    left: 45%;
    transform: translateX(-50%);
}

.game {
    &-container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        flex-wrap: wrap;

    }
    
    &-choice {
        width: 100vw;
        text-align: center;
        padding: 0 10px;
        position: absolute;
        bottom: 2vh;
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            label {
                font-size: 55px;
                text-shadow: #222 -2px 3px;
                color: #eee;
            }
        }
    }
    
    &-bet {
        position: relative;
        height: 5vh;
        width: 150px;
        background-color: #eee;
        font-size: 40px;
        line-height: 5vh;
        margin-bottom: 2vh;
        border-radius: 5px;

        &-btn {
            background-color: $turqoise;
            margin-bottom: 5px;
        }
        
        &-down {
            transform: rotate(-90deg);
            position: absolute;
            left: 1vh;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
        
        &-up {
            transform: rotate(90deg);
            position: absolute;
            right: 1vh;
            
            &:focus {
                outline: none;
            }
            
            &:hover {
                cursor: pointer;
            }
        }

        &-dice {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

.CPU {
    &-container {
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 4vh;
    }

    button {

    }
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #eee;
    width: 90vw;
    height: 65vh;
    line-height: 40px;
    
    &-menu {
        color: #000;
        text-decoration: none;
        position: fixed;
        top: .5vh;
        left: 5vw;
        font-size: 50px;
        line-height: 50px;
        z-index: 51;

        &:hover {
            cursor: pointer;
        }
    }
    
    .game-bet {
        color: #000;
        &-btn, &-up, &-down {
            &:hover {
                cursor: default;
            }
        }
    }

    &-next {
        position: absolute;
        bottom: 3vh;
        left: 50%;
        transform: translateX(-60%);
    }
}