$turqoise: #40facd;
$blueSky: #3aa6ff;
$red: #f45;
$cloudy: rgba(204,204,204,.5);

select {
    font-size: 25px;
    padding: 5px 0 5px 36px;
    border-radius: 3px;
    margin: 10px 15px 50px;
    box-shadow: #333 3px 3px 15px;
    width: 100px;
    text-align: center;
}

button {
    border-radius: 9px;
    padding: 8px 3px;
    background-color: $red;
    font-style: oblique;
    width: 300px;
    margin: 30px;
    font-size: 30px;
    box-shadow: #222 10px 12.5px 30px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

label {
    font-size: 35px;
    width: 100%;
    display: block;
    margin: 20px 0;
}

.error {
    font-size: 25px;
    color: #eee;
    text-shadow: red 1px .5px;
}

.border {
    border-top: #eee 3px solid;
    border-bottom: #eee 3px solid;
    padding: 5px 0;
    background-color: rgba(#555,.3);
}